<div id="buttons">
  <div class="but"><a href="http://ryblyovka.spitz.su/" class="razd_but"  title="">Главная</a></div>
	<div class="but"><a href="/news.html" class="razd_but" title="">Новости</a></div>
  <div class="but"><a href="/dogs.html" class="razd_but" title="">Наши шпицы</a></div>
  <div class="but"><a href="/puppies.html" class="razd_but" title="">Щенки на продажу</a></div>
  <div class="but"><a href="/litters.html" class="razd_but" title="">Пометы</a></div>
	<div class="but"><a href="/gallery.html" class="razd_but" title="">Галерея</a></div>
</div>
